@charset "utf-8";

* {margin:0;padding:0;box-sizing:border-box}
li {list-style:none;}
a {text-decoration:none;}
img {vertical-align:middle}

@font-face {
    font-family: 'HeirofLightBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
font-family: 'Noto Sans KR', sans-serif;
}

body {font-size:20px; cursor:url("../img/mouse_p.png"),auto; font-family: 'HeirofLightBold';}
.wrap {background:linear-gradient(#16101e, #382d47); width:100%; overflow: hidden;}
main { width:100%; height:100vh; position:relative;min-height:600px; max-width:1600px; margin: auto;}

.main_title {color:#fff; position:absolute; font-size:3.5em; top:50%; left:50%; transform: translate(-50%, -50%); }
.foot_copy {color:#aaa0a8; font-family: 'Noto Sans KR', sans-serif; font-size:14px; text-align: center; padding:20px 0;}

.gnb_list, .gnb_list img, .gnb_list h2 {cursor:url("../img/mouse_p_on.png"),auto; }
.gnb_list {width:300px; height:300px; padding:30px; position:absolute; border-radius:50%; text-align:center;z-index:1; }
.gnb_list a { display: block; position:relative; }
.gnb_list img {width:100%;   }
.gnb_list h2 {color:#fff; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); z-index:3; font-size:1.6em}

/*행성위치,크기*/
.gnb_1 {
	
	animation: move 15s infinite;
	width:200px; height:200px;
	top:5vh; left:5vw;   
}
.gnb_2 {
	animation: move 8s infinite;
	padding:50px;
	width:350px; height:350px;
	top:45vh;  left:7vw
}
.gnb_3 { 
	animation: move 10s infinite;
	padding:40px;
	width:300px; height:300px;
	top:50vh; right:10vw;   
}
.gnb_4 {
	animation: move 13s infinite;
	padding:10px;
	width:250px; height:250px;
	top:5vh; right:10vw;   
}  .gnb_4 a {position: relative;  }.gnb_4 img{width:130%;position:absolute;left:50%;top:25px;transform: translate(-50%);}
.gnb_4 h2 {position:absolute;left:50%;top:80px;transform: translate(-50%);}
.gnb_5 { 
	cursor:url("../img/mouse_p.png"),auto;
	border:none;animation:ping 10s infinite, move 15s infinite reverse;
	width:130px; height:130px;
	top:25vh; right:5vw;   
}.gnb_5 img {cursor:url("../img/mouse_p.png"),auto;}

@keyframes move {
	0% {margin-top:0;}
	20% {margin-top:-10px;}
	40% {}
	60% {margin-top:10px;}
	80% {margin-top:-10px;}
	100% {margin-top:0;}
}
@keyframes ping {
	0% { }
	100% {transform: rotate(360deg); }
}

/*---------------------------------------------------------------------*/

@media (min-width:992px){
	.gnb_list:hover { animation: none; background-size: contain !important; background-position: center center !important;}
	.gnb_5:hover {background:none;animation:ping 10s infinite, move 15s infinite;}

	.gnb_1:hover {background: url(../img/border.png);  }
	.gnb_2:hover {background: url(../img/border3.png); }
	.gnb_3:hover {background: url(../img/border4.png);  }
	.gnb_4:hover {background: url(../img/border2.png);  }
}

@media (max-width:992px){
	.main_title { font-size:3em;  }
}

@media (max-width:768px){
	.main_title { font-size:2em; color:rgb(102, 97, 105); top:350px}
	.foot_copy  {font-size:12px; }

	main {  height:260vh;  }

	
/*행성위치,크기*/

.gnb_1 {padding:40px;
	width:200px; height:200px;
	top:80px; left:5vw;   
}
.gnb_2 {padding:20px;
	padding:50px;
	width:395px; height:395px;
	top:400px;  left:auto; right:-95px;
}
.gnb_3 { padding:20px;
	padding:40px;
	width:340px; height:340px;
	top:750px; right:auto; left:-50px;   
}
.gnb_4 {
	padding:10px;
	width:300px; height:300px;
	top:1100px; right:-20px;   
} 
.gnb_4 a {position: relative;  }
.gnb_4 img{width:130%;position:absolute;left:50%;top:25px;transform: translate(-50%);}
.gnb_4 h2 {position:absolute;left:50%;top:80px;transform: translate(-50%);}
.gnb_5 { 
	width:130px; height:130px;
	top:190px; right:8vw;   }
}

@media (min-width:769px) and (max-width:1200px) and (orientation:portrait) {
	.main_title {  top:400px}
}

@media (min-width:769px) and (max-width:1200px) and (orientation:landscape) {
	.main_title {  top:300px}
}